<!DOCTYPE html>
<html ng-app="weatherApp">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather Card</title>
	<link href="style.css" rel="stylesheet"></link>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body ng-controller="weatherAppController">
	<main>

		<div class="row mb-4">
		  <div class="col-8"><h1 class="text">My Weather App</h1></div>
		  <div class="col-4">
			<input type="text" class="input" name="City"  placeholder="ENTER CITY NAME"  ng-model="filterText" value=""/>
			  <div class="line-box">
				<div class="line"></div>
			  </div>
			  <div class="clear"></div>
		  </div>
  
		</div>


		<div class="container-fluid">
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-col-lg-4">
	 
		<div id="weather_wrapper" ng-repeat="weather in weathers | searchFilter:filterText">
		<div class="weatherCard">
			<div class="currentTemp">
				<span class="temp">{{weather.main.temp}}° F</span>
				
				  <span class="wind">Wind : {{weather.wind.speed}} mph | Direction : {{weather.wind.deg}}°</span>
					<span class="wind">Min/Max Temp : {{weather.main.temp_min}}°/{{weather.main.temp_max}}°</span>	
			</div>
			<div class="currentWeather">
				<span class="conditions">&#xf00d;</span>

				<div class="summary">
					<p class="summaryText"> {{weather.name}} : {{weather.weather[0].description}} </p>
				  </div>
			</div>
		</div>
	</div>

	</div>
	</div>
	</main>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> 
</body>
</html>