@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
	background: linear-gradient(to bottom right, rgb(192, 225, 255), rgb(76, 77, 141));
}

.text{
	text-align: center;
}
#weather_wrapper{
	width: 400px;
	margin: 100px auto;
	padding: 40px;
	flex-direction: column;
	margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}
.weatherCard{
	width: 400px;
	height: 200px;
	font-family: 'Open Sans';
	position: relative;
	
}
.currentTemp{
	width: 220px;
	height: 200px;
	background: rgb(41, 41, 41);
	position: absolute;
	top: 0;
	left: 0;
}
.currentWeather{
	width: 180px;
	height: 200px;
	background: rgb(237, 237, 237);
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}
.temp{
	font-size: 30px;
	text-align: center;
	display: block;
	font-weight: 300;
	color: rgb(255, 255, 255);
	padding: 20px 0 0;
}

.summary {
	color: #d2e9fa;
	font-weight: 300;
	width: 85%;
	margin-top: -4px;
	padding-bottom: 8px;

}
  
.summaryText {
	color: #366792;
	right: -4px;
	font-weight: 700;
	font-size: 18px;
	padding: 20px;
}

.conditions{
	font-family: weathericons;
	font-size: 40px;
	display: block;
	padding: 20px 0 0;
	text-align: center;
}

.wind {
	font-size: 20px;
	text-align: center;
	display: block;
	font-weight: 500;
	color: rgb(36, 155, 62);
}
.inputField{
    top: 30px;
    width: 30%;
    height: 40px;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 17px;
    padding-left: 15px;
    transition: all 0.3s ease;
  }

.inputField:focus{
    border-color: #0e61c7;
} 

.input {
    width: 80%;
    padding: 0px;
    background: transparent;
    border: none;
    outline: none;
    margin-top: 20px;
    color: #34373e;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-left: 5px;
  }

.line-box {
    position: relative;
    width: 80%;
    height: 1px;
    background: #BCBCBC;
  }
  
  .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #8243b6;
    transition: ease .6s;
  } 
  
  .input:focus + .line-box .line {
    width: 100%;
  }
